/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #09659e,
  "secondary": #6c757d,
  "dark": #343a40,
  "success": #28a745,
  "info": #cc6013,
  "warning": #75a87f,
  "danger": #dc3545,
  "light": #f8f9fa,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #09659e;
$secondary-color: #e1d1ad;
$white-color: white;
$black-color: #000;
$tertiary-color: #9d9e9e;
$dark-color: #001524;
$info-color: #75a87f;
$border-color: #cc6013;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Toto:wght@400;500;600;700&display=swap');

body {
  font-family: 'Noto Serif Toto', serif !important;
}

#SRLLightbox {
  .SRLDownloadButton {
    display: none !important;
  }
}

.PhoneInputCountrySelectArrow {
  border-bottom: 1px solid #000 !important;
  border-left: 0px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-top: 0px solid #000 !important;
  content: "" !important;
  display: block !important;
  height: 0.3rem !important;
  margin-left: 0.35rem !important;
  opacity: 0.45 !important;
  -webkit-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  width: 0.3rem !important;
}

#custom-content {
  z-index: 1;
  .price1{
    background-color:$border-color;
  }
}

main {
  background-color: #F0EFED;
}

#navbar {
  .nav-link {
    padding: 10px 0px;
    font-weight: 600;
    color: $black-color;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      color: $border-color;
      padding-left: 5px;
      text-decoration: underline;
    }
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}

.offcanvas-end {
  width: 280px !important;
}

#video {
  height: 400px;
  width: 300px;
}

#master-plan, #floor-plan {
  .nav-link {
    color: $black-color !important;
  }
}

#desktop-fix {
  z-index: 1;
  .custom {
    z-index: 4;
    left: 1%;
    bottom: 0%;
  }
}
#mobile-fix {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#contact {
  top: 20px !important;
  z-index: 0;
  // .form-control {
  //   &:focus {
  //     box-shadow: none !important;
  //   }
  input{
    height:50px;
  }
  form{
    height:85vh;
  }
  }
  .PhoneInputInput {
    border: none !important;
    &:focus-visible {
      outline: none !important;
    }
  }

#cre {
  .form-control {
    &:focus {
      box-shadow: none !important;
    }
  }
  .PhoneInputInput {
    border: 0px !important;
    &:focus-visible {
      outline: none !important;
    }
  }
}

p {
  text-align: justify !important;
}

#pricing {
  .nav-link {
    color: $black-color !important;
    &.active {
      color: $black-color !important;
    }
  }
}

@include media-breakpoint-only(xs) {
  #navbar {
    .col-md-3 {
      width: 100%;
    }
  }
  #contact{
    form{
      height:75vh;
    }
  }
  // p {
  //   font-size: 12px !important;
  // }
  // li {
  //   font-size: 12px !important;
  // }
  #overview {
    td,
    th {
      font-size: 12px !important;
    }
  }
  #pricing {
    .custom-button {
      font-size: 11px !important;
    }
    td {
      font-size: 12px !important;
    }
    th {
      font-size: 14px !important;
    }
  }
  #custom-content {
    z-index: 1;
    .container {
      position: static !important;
      transform: translate(0) !important;
    }
    .shadow {
      box-shadow: none !important;
    }
  }

  .owl-carousel {
    h2 {
      font-size: 24px !important;
    }
    h3 {
      font-size: 10px !important;
    }
  }
}
@include media-breakpoint-only(sm) {
  #navbar {
    .col-md-3 {
      width: 100%;
    }
  }
  #pricing {
    .custom-button {
      font-size: 12px !important;
    }
    td {
      font-size: 12px !important;
    }
    th {
      font-size: 14px !important;
    }
    #contact{
      form{
        height:75vh;
      }
    }
  }
}
@include media-breakpoint-only(md) {
  #contact{
  form{
    height:60vh;
  }
}
}
@include media-breakpoint-only(lg) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-only(xxl) {
}

#bg {
  // background-image: url("../src/Components/Images/blue-bg.jpg");
}


#amenites{
  // background:linear-gradient(
  //   rgba(0, 0, 0, 0.45),
  //   rgba(0, 0, 0, 0.45)
  // ),
  // url("../src/Components/Images/amenities.jpeg");

  // h2, ul, h4, p{
  //   color:#fff;
  //   position:center;
  // }
}

#sideBtn {
  position: fixed;
  top: 50%;
  right: -3%;
  transform: rotate(90deg);
  z-index: 1;
}

#custom {
  top: 10%;
  bottom: 10%;
}


@include media-breakpoint-only(sm) {
  #sideBtn {
    right: -10%;
  }
  
  #custom {
    top: 10%;
    bottom: 10%;
  }
}

@include media-breakpoint-only(xs) {
  #sideBtn {
    right: -10%;
  }
  
  #custom {
    top: 10%;
    bottom: 30%;
  }
}